* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* haeder */
header {
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
}

/* container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.Header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}